* {padding:0px; margin:0px; outline:0px;}
body {margin:0px; font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif; font-size:12px; line-height:normal;}
input, textarea, select {vertical-align:middle; font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif; font-size:12px;}
form {margin:0px;}
a {text-decoration:none; outline:none;}
a:selected {outline:none;}
img {border:none;}
input[type=checkbox] {width:13px; height:13px; padding:0px; margin:0px;}
input[type=radio] {width:13px; height:13px; padding:0px; margin-top:-5px;}
/*--------------------------------------------------------------------------*/
.mainDiv {}
.linkIcon_1 {vertical-align:top; margin-right:5px; margin-bottom:1px;}
.t_space {margin-top:12px;}
.l_space {margin-left:12px;}
.c_t_space {margin-top:10px;}
.padding_1 {padding:12px;}
.radioList_1 td {padding:0px 10px 5px 0px}
/*--------------------------------------------------------------------------*/
.listBox_1 {border:1px solid #FF9326; padding:12px;}
.listBox_1 h3 {background:url(../images/horDotLine_2.gif) left bottom repeat-x; padding:0px 0px 12px 0px; margin:0px; font-size:15px; font-weight:bold; color:#333;}
.listBox_1 ul {margin:10px 0px 0px 0px; list-style:none; line-height:18px;}
.listBox_1 ul a {color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px;}
.listBox_1 ul a:hover {color:#FF9326;}
/*--------------------------------------------------------------------------*/
table.tableList_2 {color:#333; border-collapse:collapse;}
table.tableList_2 th {border:1px solid #ddd; border-bottom:2px solid #ddd; text-align:left; padding:5px; background:#f5f5f5;}
table.tableList_2 td {border:1px solid #ddd; text-align:left; padding:5px;}
table.tableList_2 td a {color:#FF9326; text-decoration:underline;}
table.tableList_2 td a:hover {color:#333; text-decoration:none;}
/*--------------------------------------------------------------------------*/
.linkTxt_1 {color:#FF9326;}
.linkTxt_1 a {color:#FF9326; text-decoration:underline;}
.linkTxt_1 a:hover {text-decoration:none;}
/*--------------------------------------------------------------------------*/
.txt_2 {color:#ff0000;}
.txt_2 a {color:#ff0000;}
.txt_2 a:hover {text-decoration:underline;}
/*--------------------------------------------------------------------------*/
.reqF_1 {color:#ff0000; display:block;}
.reqF_2 {color:#ff0000;}
/*--------------------------------------------------------------------------*/
.formBg_1 {background:#f5f5f5; border:1px solid #eaeaea;} /* Bg color Like search box */
.formSubHead_1 {background:#f5f5f5; font-weight:bold; color:#333; padding:3px 10px; border-bottom:2px solid #ddd; margin-top:10px;}
.formBtn_1 {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block; height:20px;}
.formBtn_1 input {color:#FFF; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px;}
.formTxtBox_1 {color:#333; padding:2px; border:1px solid #abadb3;}
.formStyle_1 {color:#6E6E6E; line-height:19px;}
.formStyle_1 .ff {font-weight:bold; vertical-align:top;}
.formStyle_1 .ff span {color:#ff0000;}
.formStyle_1 td,th {vertical-align:top;}
.formNoteTxt {color:#999; font-weight:normal;}
.formStyle_1 a {color:#FF9326; text-decoration:underline;}
.formStyle_1 a:hover {color:#333; text-decoration:none;}
/*--------------------------------------------------------------------------*/
.responseMsg {padding:10px 10px 10px 50px; margin:10px 0px 0 0px;}
.responseMsg a{color:#000; text-decoration:underline;}
.responseMsg a:hover{text-decoration:none;}
.errorMsg {background:#f9e5e6 url('../images/errorIcn.png') 10px center no-repeat; color:#b50007; border:#e8aaad solid 1px;}
.noticeMsg {background:#f9f9e5 url('../images/noticeIcn.png') 10px center no-repeat; color:#828400;	border:#e8e3aa solid 1px;}
.successMsg {background:#e9f9e5 url('../images/successIcn.png') 10px center no-repeat; color:#1c8400; border:#b4e8aa solid 1px;}
/*-------------------------------------------------------------------------*/
.stepWiz_1 {padding:10px 0px; background:#f5f5f5; border:1px solid #ddd;}
.stepWiz_1 ul {list-style:none; color:#999999; font-weight:bold;}
.stepWiz_1 ul li {display:inline; padding:0px 10px;}
.stepWiz_1 ul .sMenu {font-size:14px; color:#333;}