@import url(../Include/comman.css);
/*--------------------------------------------------------------------*/
.dashboard_div {margin:12px; min-width:979px;}
.topHeader {padding-bottom:12px;}

.loginInfoBar {background:#f1f1f1; color:#333;}
.loginInfoBar a {color:#333;}
.loginInfoBar a:hover {text-decoration:underline;}

.pageHead_1 {background:url(../images/horDotLine_1.gif) left bottom repeat-x; padding:10px 0px; font-size:16px; font-weight:bold; color:#FF9326;}

/*
!--------Do not delete--------!

.formBg_1 {background:#f5f5f5; border:1px solid #eaeaea;}
.formBtn_1 {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block; height:20px;}
.formBtn_1 input {color:#FFF; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px;}
.formTxtBox_1 {color:#333; padding:2px; border:1px solid #abadb3;}
.formStyle_1 {color:#333;}
.formStyle_1 .ff {font-weight:bold;}
.formStyle_1 a {color:#FF9326; text-decoration:underline;}
.formStyle_1 a:hover {color:#333; text-decoration:none;}*/