@import url(comman.css);
/*--------------------------------------------------------------------*/
.fixDiv {/*width:778px; margin:auto;*/margin:0px 12px; min-width:979px;}
.timeCss {color:#333; font-weight:bold; padding:7px 0px;}

.headerCss {background:url(../images/horDotLine_1.gif) left bottom repeat-x; color:#333; font-weight:bold; height:35px;}
.headerCss a {color:#333;}
.headerCss a:hover {color:#FF9326;}
.lftNav {width:250px;}

.loginBox {border:1px solid #FF9326; color:#333;}
.loginBoxHead {background:url(../images/horDotLine_1.gif) left bottom repeat-x; padding-bottom:12px; font-size:15px; font-weight:bold; color:#333;}

.txtInput_1 {font-size:12px; color:#333; padding:2px; border:1px solid #abadb3;}
.btnInput_1 {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block;}
.btnInput_1 input {color:#FFF; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px; _padding:0px 4px;}

.btnNewReg {background:url(../images/btnBg_3.gif) left top repeat-x #FF9326; color:#FFF; font-size:15px; font-weight:bold; border:none; height:30px; width:220px;}

.linkBox_1 {border:1px solid #FF9326;}
.linkBox_1 ul {margin:0px 12px; list-style:none; color:#333;}
.linkBox_1 ul li {background:url(../images/horDotLine_1.gif) left top repeat-x; padding:10px 0px 10px 0px;}
.linkBox_1 ul li a {color:#333; background:url(../images/bul_1.gif) 0px 3px no-repeat; padding-left:15px;}
.linkBox_1 ul li a:hover {color:#FF9326;}
.linkBox_1 ul .bNone {background:none;}

.contentArea_1 {padding-left:12px;}
.pageHead_1 {background:url(../images/horDotLine_1.gif) left bottom repeat-x; padding:10px 0px; font-size:15px; font-weight:bold; color:#FF9326;}
.pageHead_1 .remarks {color:#ff0000;}
/*--------------------------------------------------------------------------*/
.txt_1 {color:#333; line-height:18px;}
.txt_1 a {color:#333;}
.txt_1 a:hover {color:#FF9326;}
/*--------------------------------------------------------------------------*/
.footerCss {background:url(../images/horDotLine_1.gif) left top repeat-x; padding:15px; color:#FF9326; font-weight:bold; margin-top:15px; text-align:center;}
.footerCss a {color:#FF9326;}
.footerCss a:hover {color:#333;}
/*--------------------------------------------------------------------------*/
.tabPanel_1 {list-style:none; font-weight:bold; border-left:1px solid #FF9326; overflow:hidden; float:left;}
.tabPanel_1 li {float:left; border:1px solid #FF9326; border-bottom:none; border-left:none;}
.tabPanel_1 li a {display:inline-block; padding:6px 12px; font-size:14px; color:#333;}
.tabPanel_1 li a:hover {color:#FFF; background:#FF9326;}
.tabPanel_1 a.sMenu {color:#FFF; background:#FF9326; cursor:default;}
.tabPanelArea_1 {clear:left; background:url(../images/tabContentBoxBg_1.gif) left bottom repeat-x #FF9326;}
/*--------------------------------------------------------------------------*/
.txtSearchBox {font-size:14px; color:#333; padding:7px; width:322px; border:1px solid #333; border-right:none;}
.btnSearch {background:url(../images/btnBg_1.gif) left top repeat-x #121212; border:1px solid #000; display:inline-block; vertical-align:middle;}
.btnSearch input {font-size:14px; color:#FFF; font-weight:bold; border:none; background:none; height:30px;}
.serchTxt {color:#fff;}
.serchTxt a {color:#fff;}
.serchTxt a:hover {color:#333;}
/*--------------------------------------------------------------------------*/
.tableHead_1 {background:#e4fad0; font-size:14px; font-weight:bold; color:#333; padding:7px 10px; border:1px solid #FF9326;}
.tableView_1 {color:#333;}
.tableView_1 .ff {font-weight:bold;}
.tableView_1 a {color:#333; text-decoration:underline;}
.tableView_1 a:hover {text-decoration:none;}
label.error{
    color:red;
}