.dash_menu_1 {background:url(../images/Dashboard/1/menuBg_1.gif) left top repeat-x; height:35px;}
.dash_menu_1 ul {list-style:none; font-size:13px; font-weight:bold; color:#333;}
.dash_menu_1 ul li {padding:4px 4px 3px 3px; margin:0px; float:left; display:inline-block; background:url(../images/Dashboard/1/menuSep_1.gif) right top no-repeat;}
.dash_menu_1 ul li img {vertical-align:middle; margin:0px 5px 0px 0px; float:left;}
.dash_menu_1 ul li a {color:#333; float:left; padding:5px 5px 4px 5px;}
.dash_menu_1 ul li a:hover {background:url(../images/Dashboard/1/menuHoverBg_1.gif) left top repeat-x #000; color:#FFF;}
.dash_menu_1 .mSel a {background:url(../images/Dashboard/1/menuHoverBg_1.gif) left top repeat-x #000; color:#FFF; float:left;}

.topMenu_1 {background:url(../images/Dashboard/1/menuBg_1.gif) left top repeat-x;}
.topMenu_1 ul {list-style-type:none; overflow: hidden; width:100%; color:#333; font-weight:bold;}
.topMenu_1 li {padding:4px 4px 3px 3px; margin:0px; float:left; display:inline-block; background:url(../images/Dashboard/1/menuSep_1.gif) right top no-repeat;}
.topMenu_1 li img {vertical-align:middle; margin:0px 5px 0px 0px; float:left;}
.topMenu_1 li a {color:#333; float:left; padding:5px 5px 4px 5px;}
.topMenu_1 li a:visited {color:white;}
.topMenu_1 li a:hover{background:url(../images/Dashboard/1/menuHoverBg_1.gif) left top repeat-x #000; color:#FFF;}
.topMenu_1 a.selected {background:url(../images/Dashboard/1/menuHoverBg_1.gif) left top repeat-x #000; color:#FFF;}

.ddsubmenustyle, .ddsubmenustyle ul {position:absolute; left:0; top:0; list-style-type:none; background:#FFF; border:1px solid #000; border-bottom-width:0; visibility:hidden; z-index:100;}
.ddsubmenustyle li a{display:block; width:160px; color:black; background-color:#f1f1f1; text-decoration:none; padding:4px 5px; border-bottom: 1px solid #000;}
* html .ddsubmenustyle li{display:inline-block; width:170px;}
.ddsubmenustyle li a:hover{background-color:#000; color:#FFF;}
/* ######### Neutral CSS  ######### */
.downarrowpointer{padding-left:4px; border:0; display:none;}
.rightarrowpointer{position:absolute; padding-top: 3px; left:100px; border:0;}
.ddiframeshim{position: absolute; z-index:500; background: transparent; border-width:0; width: 0; height: 0; display:block;}

.footerCss {border-top:5px solid #FF9326; color:#FF9326;}
.footerCss td {padding:10px 0px; vertical-align:top;}
.footerCss .msg {font-size:11px; padding-top:3px; color:#999999;}
.footerCss a {color:#FF9326;}
.footerCss a:hover {color:#333;}

table.tableList_1 {color:#333; border-collapse:collapse;}
table.tableList_1 th {border:1px solid #FF9326; border-bottom:2px solid #FF9326; text-align:left; padding:5px; background:#e4fad0;}
table.tableList_1 td {border:1px solid #FF9326; text-align:left; padding:5px;}
table.tableList_1 td a {color:#FF9326; text-decoration:underline;}
table.tableList_1 td a:hover {color:#333; text-decoration:none;}

.pagging_1 {color:#FF9326; font-weight:bold;}
.pagging_1 td {padding:10px 0px 0px 0px;}
.pagging_1 ul {list-style:none; color:#333333; float:right;}
.pagging_1 ul li {display:inline; padding-left:10px;}
.pagging_1 ul li a {color:#78a951;}
.pagging_1 ul li a:hover {text-decoration:underline;}

.lftNav {width:250px; border-right:1px solid #FF9326;}
.contentArea {padding-left:12px;}

.lftLinkBtn_1 {list-style:none; font-weight:bold; border-bottom:1px solid #FF9326;}
.lftLinkBtn_1 li {border-left:1px solid #FF9326; border-top:1px solid #FF9326; padding:1px;}
.lftLinkBtn_1 li img {vertical-align:middle; margin:0px 5px 0px 0px; float:left;}
.lftLinkBtn_1 li a {display:block; color:#333; background:#e4fad0; padding:4px 6px;}
.lftLinkBtn_1 li a:hover {color:#fff; background:#333;}

.sublinks_1 {border:1px solid #FF9326; border-right:0px;}
.sublinks_1 ul {list-style:none; color:#333;}
.sublinks_1 ul li {/*background:url(../images/horDotLine_1.gif) left top repeat-x;*/ padding:6px 0px 6px 0px; position:relative;}
.sublinks_1 ul li a {color:#333; background:url(../images/bul_1.gif) 10px 3px no-repeat; padding-left:25px;}
.sublinks_1 ul li a:hover {color:#78a951;}
.sublinks_1 ul .mSel {background:url(../images/selSubLinkBul_1.gif) 230px center no-repeat #333; color:#FFF; display:block; font-weight:bold; padding:5px 10px; margin:1px;}
.sublinks_1 ul .lIcn {position:absolute; right:8px; top:6px; cursor:pointer;}
.sublinks_1 ul .bNone {background:none;}

.tabPanel_1 {list-style:none; font-weight:bold; border-left:1px solid #FF9326; overflow:hidden; float:left;}
.tabPanel_1 li {float:left; border:1px solid #FF9326; border-bottom:none; border-left:none;}
.tabPanel_1 li a {display:inline-block; padding:6px 12px; font-size:14px; color:#333;}
.tabPanel_1 li a:hover {color:#FFF; background:#FF9326;}
.tabPanel_1 a.sMenu {color:#FFF; background:#FF9326; cursor:default;}
.tabPanelArea_1 {padding:12px; clear:both; _display:inline-block; border:1px solid #FF9326;}

.tableHead_1 {background:#e4fad0; font-weight:bold; color:#333; padding:7px 10px; border:1px solid #FF9326;}
.tableView_1 {color:#333;}
.tableView_1 .ff {font-weight:bold;}
.tableView_1 a {color:#78a951; text-decoration:underline;}
.tableView_1 a:hover {text-decoration:none;}

.bigTxt_1 {color:#78a951; font-size:22px;}
.bigTxt_1 a {color:#78a951;}
.bigTxt_1 a:hover {color:#333;}