HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
TD {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
TH {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
PRE {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
CODE {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
SELECT {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
OPTION {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
INPUT {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
TEXTAREA {
	FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-SIZE: 10pt
}
H1 {
	BORDER-BOTTOM: 2px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 0.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Georgia; FONT-SIZE: 14pt; PADDING-TOP: 0.2em
}
H2 {
	PADDING-BOTTOM: 0.5em; MARGIN: 0.5em 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; FONT-FAMILY: Georgia; BACKGROUND: silver; COLOR: white; CLEAR: both; FONT-SIZE: 12pt; PADDING-TOP: 0.5em; text-shadow: 1px 1px 2px gray; -moz-border-radius: 5px
}
H3 {
	PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Georgia; COLOR: gray; CLEAR: both; FONT-SIZE: 11.5pt; PADDING-TOP: 0.5em
}
P {
	PADDING-BOTTOM: 0.5em; LINE-HEIGHT: 1.8em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0em
}
P.meta {
	MARGIN-TOP: -5px; COLOR: gray; FONT-SIZE: 9pt
}
.arguments .tp {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal !important; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; COLOR: green; FONT-SIZE: 13px; FONT-WEIGHT: normal !important; PADDING-TOP: 0px
}
P CODE {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal !important; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; COLOR: green; FONT-SIZE: 13px; FONT-WEIGHT: normal !important; PADDING-TOP: 0px
}
#description {
	MARGIN: 0px 20px
}
.panel {
	MARGIN: 0px 20px
}
#container {
	MARGIN: 0px auto; WIDTH: 802px; OVERFLOW: hidden
}
.demo {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; MARGIN: 0px; WIDTH: 235px; BACKGROUND: white; FLOAT: left; OVERFLOW: auto; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid
}
.code {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; MARGIN: 0px 0px 10px; WIDTH: 490px; FLOAT: right; FONT-SIZE: 12px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid
}
PRE {
	DISPLAY: block
}
.code_f {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; MARGIN-BOTTOM: 1em; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid
}
.syntaxhighlighter {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
.log {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; MARGIN-BOTTOM: 1em; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 4px
}
.button {
	DISPLAY: block; MARGIN-BOTTOM: 0.5em
}
.arguments {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0em 1em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.arguments .tp {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 70px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.arguments STRONG {
	DISPLAY: block
}
.api H3 {
	MARGIN-TOP: 2em; WIDTH: 780px; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; COLOR: black; MARGIN-LEFT: -10px; FONT-SIZE: 14px; BORDER-TOP: 1px solid; FONT-WEIGHT: normal !important
}
.api .arguments LI STRONG {
	FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; COLOR: black; FONT-SIZE: 13px; FONT-WEIGHT: normal !important
}
.configuration H3 {
	MARGIN-TOP: 2em; WIDTH: 780px; FONT-FAMILY: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; COLOR: black; MARGIN-LEFT: -10px; FONT-SIZE: 14px; BORDER-TOP: 1px solid; FONT-WEIGHT: normal !important
}
.note {
	BORDER-BOTTOM: #333 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #333 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 15px; BACKGROUND: #ffffee; BORDER-TOP: #333 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #333 1px solid; PADDING-TOP: 10px; -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius: 5px
}
UL.columns {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 5px auto 15px; PADDING-LEFT: 0px; WIDTH: 700px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
UL.columns LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 345px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
UL.plugins LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 220px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
UL.plugins LI A {
	COLOR: #3b5998; TEXT-DECORATION: none
}
UL.plugins LI A:hover {
	TEXT-DECORATION: underline
}
UL.plugins LI P {
	TEXT-ALIGN: left; MARGIN: 0px 5px 0px 0px; COLOR: #333; FONT-SIZE: 9px
}
.demo {
	FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
.demo INPUT {
	FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
.jstree-dnd-helper {
	FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
#vakata-contextmenu {
	FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
