
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
       
}

.accordion {
	overflow:hidden;
		
	
        margin-top: 15px;
}
.accordion .linkBox_1{
    border: none;
}
.accordion .linkBox_1 ul li{
    font-weight: normal !important;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:10px;
	display:inline-block;
	border-bottom:1px solid #CCC;
	
	transition:all linear 0.15s;
	/* Type */
	font-size:1em;	
	color:#555;
        font-weight: bold;
}

.accordion-section-title.active, .accordion-section-title:hover {
	color: #FF9326;
	/* Type */
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	
	display:none;
        font-size: 11px;
}