@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {padding:0px; margin:0px; outline:0px;}
ol,ul {/*margin-left:30px; */}
body {margin:0px; font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif; font-size:12px; line-height:normal;}
table, td, tr {font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif; font-size:14px; line-height:normal;} /* for print purpose */
input, textarea, select {vertical-align:middle; font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif; font-size:12px;}
form {margin:0px;}
a {text-decoration:none; outline:none;}
a:selected {text-decoration:none; outline:none;}
img {border:none;}
input[type=checkbox] {width:13px; height:13px; padding:0px; margin:0px;}
input[type=radio] {width:13px; height:13px; padding:0px; margin-top:2px;}
/*--------------------------------------------------------------------------*/
.mainDiv {width:100%}
.linkIcon_1 {vertical-align:top; margin-right:5px; margin-bottom:1px;}
.linkIcon_2 {vertical-align:top; margin-right:1px; margin-bottom:1px;}
.t_space {margin-top:12px;}
.b_space {margin-bottom:5px;}
.l_space {margin-left:12px;}
.l_space_1 {margin-left:1px;}
.c_t_space {margin-top:10px;}
.padding_1 {padding:12px;}
.radioList_1 td {padding:0px 10px 5px 0px;}
.no-border{border: none !important;}
.no-border td{border: none !important;}

/*--------------------------------------------------------------------------*/
.listBox_1 {height:339px; border:1px solid #FF9326; padding:12px; overflow: hidden;}
.listBox_1 h3 {background:url(../images/horDotLine_2.gif) left bottom repeat-x; padding:0px 0px 12px 0px; margin:0px; font-size:15px; font-weight:bold; color:#333;}
.listBox_1 ul {margin:10px 10px 10px 10px; list-style:none; line-height:18px;}
.listBox_1 ul a {color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px;}
.listBox_1 ul a:hover {color:#FF9326;}
/*--------------------------------------------------------------------------*/
table.tableList_2 {color:#333; border-collapse:collapse;}
table.tableList_2 th {border:1px solid #ddd; border-bottom:2px solid #ddd; text-align:center; padding:5px; background:#f5f5f5; vertical-align: middle;}
table.tableList_2 td {border:1px solid #ddd; text-align:left; padding:5px;}
table.tableList_2 td a {color:#FF9326; text-decoration:underline;}
table.tableList_2 td a:hover {color:#333; text-decoration:none;}
/*--------------------------------------------------------------------------*/
.linkTxt_1 {color:#FF9326;}
.linkTxt_1 a {color:#FF9326; text-decoration:underline;}
.linkTxt_1 a:hover {text-decoration:none;}
/*--------------------------------------------------------------------------*/
.txt_2 {color:#ff0000;}
.txt_2 a {color:#ff0000;}
.txt_2 a:hover {text-decoration:underline;}
/*--------------------------------------------------------------------------*/
.reqF_1 {color:#ff0000; display:block;}
.reqF_2 {color:#ff0000;}
/*--------------------------------------------------------------------------*/
.formBg_1 {background:#f5f5f5; border:1px solid #eaeaea;} /* Bg color Like search box */
.formSubHead_1 {background:#f5f5f5; font-weight:bold; color:#333; padding:3px 10px; border-bottom:2px solid #ddd; margin-top:10px;}
.formBtn_1 {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block; height:20px;}
.formBtn_1 input {color:#FFF; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px;cursor: pointer;}
.formTxtBox_1 {color:#333;padding:6px 6px;color: #555; border:1px solid #CCC;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.formTxtBox_1:focus {
  border-color: #EFEFEF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  outline: none;
}

/*-------------Commented by : Dipal : bug id: [5557] Following 4 css classes used for dynamic form generation */
.formTxtBox_2 {color:#333; _padding:2px; border:1px solid #abadb3; height: 45px; width: 100%;}
.formTxtArea_1 {color:#333; border:1px solid #abadb3; width: 100%; }
.formTxtDate_1 {color:#333; border:1px solid #abadb3; width: 100%; height: 20px;}
.formSelect_1 {color:#333; border:1px solid #abadb3; width: auto;}
/*------------------------------------------------------------------------*/


.formStyle_1 {color:#000; line-height:19px;}
.formStyle_1Center {margin:0 auto;width:80% !important;}
.formStyle_1 .ff {font-weight:bold; vertical-align:top;text-align:right}
.formStyle_1 .ff-left{text-align: left;}
.formStyle_1 .ff span {color:#ff0000;}
.formStyle_1 td,th {vertical-align:top;}
.formNoteTxt {display: block; color:#424242;width:100%;font-style: italic;}
.formStyle_1 a {color:#FF9326; text-decoration:underline;}
.formStyle_1 a:hover {color:#333; text-decoration:none;}
/*--------------------------------------------------------------------------*/
.responseMsg {padding:10px 10px 10px 50px; margin:0px;}
.responseMsg a{color:#000; text-decoration:underline;}
.responseMsg a:hover{text-decoration:none;}
.errorMsg {background:#f9e5e6 url('../images/errorIcn.png') 10px center no-repeat; color:#b50007; border:#e8aaad solid 1px;}
.noticeMsg {background:#f9f9e5 url('../images/noticeIcn.png') 10px center no-repeat; color:#828400; border:#e8e3aa solid 1px;}
.successMsg {background:#e9f9e5 url('../images/successIcn.png') 10px center no-repeat; color:#1c8400; border:#b4e8aa solid 1px;}
.approveMsg {padding:10px 10px 10px 50px; margin:10px 0px 0 0px;background:#e9f9e5 url('../images/successIcn.png') 10px center no-repeat; color:#1c8400; border:#b4e8aa solid 1px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left; font-weight:bold; width:40%; position:fixed; top:40%; left:20%; z-index:9999;}
.rejectMsg {padding:10px 10px 10px 50px; margin:10px 0px 0 0px;background:#f9e5e6 url('../images/errorIcn.png') 10px center no-repeat; color:#1c8400; border:#b4e8aa solid 1px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left; font-weight:bold; width:40%; position:fixed; top:40%; left:20%; z-index:9999;}
.msgInRed {background:#f9e5e6; color:#b50007; border:#e8aaad solid 1px;}
/*-------------------------------------------------------------------------*/
.stepWiz_1 {padding:10px 0px; background:#f5f5f5; border:1px solid #ddd;}
.stepWiz_1 ul {list-style:none; color:#999999; font-weight:bold;}
.stepWiz_1 ul li {display:inline; padding:0px 10px;}
.stepWiz_1 ul li a {color:#78A951; text-decoration: none; cursor: pointer;}
.stepWiz_1 ul li a:hover {color:#6e6e6e;}
.stepWiz_1 ul .sMenu {font-size:14px; color:#333;}

/*--------------------------------------------------------------------------*/
.listBox_aboutUs {padding:12px; margin:0px; padding:0px 12px 12px 12px; border:none;}
.aboutUs_title { height:28px; line-height:28px; padding-left:10px; margin:0px; font-size:13px; font-weight:bold; background:#F0E68C; color:#333;}
.listBox_aboutUs ul {margin:10px 0px 0px 0px; list-style:none; line-height:18px;}
.listBox_aboutUs li {color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px;}

.listBox_disclaimer {padding:12px; margin:0px; padding:0px 12px 12px 12px; border:none;}
.listBox_disclaimer ul {margin:10px 0px 0px 0px; list-style:none; line-height:18px; text-align:justify;}
.listBox_disclaimer li {color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px; margin-top:8px;}

.listBox_subItem ul {margin-left:20px; line-height:18px; text-align:justify;}
.listBox_subItem li {color:#333; background:none; padding-left:12px; margin-top:5px; list-style-type:none;}

.contactUs_border{border:1px solid #FF9326;}
.contactUs_header {background:#FF9326; font-size:14px; font-weight:bold; color:#333; padding:5px 10px; border-bottom:1px solid #FF9326;}
.ff {font-weight:bold;}

.listBox_emailFormat {padding:12px; margin:0px; padding:0px 12px 12px 12px; border:none;}
.listBox_emailFormat ul {margin:10px 0px 0px 0px; list-style:none; line-height:18px;}
.listBox_emailFormat ul li {color:#000; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px;}

.listBox_emailFormatNOA {padding:12px; margin:0px; padding:0px 12px 12px 12px; border:none;}
.listBox_emailFormatNOA ol {margin:10px 0px 0px 0px; /*list-style:none;*/ line-height:18px;}
.listBox_emailFormatNOA ol li {color:#000; /*background:url(../images/bul_3.gif) 0px 5px no-repeat;*/ margin-left:12px;}
/*--------------------------------------------------------------------------*/
/****** News List *******/
.nlistBox_1 {height:519px; border:1px solid #FF9326; padding:12px; overflow: hidden;}
.nlistBox_1 h3 {background:url(../images/horDotLine_2.gif) left bottom repeat-x; padding:0px 0px 12px 0px; margin:0px; font-size:15px; font-weight:bold; color:#333;}
.nlistBox_1 ul {margin:10px 10px 10px 0px; list-style:none; line-height:18px;}
.nlistBox_1 ul li {color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px;}
.nlistBox_1 ul li a{color:#333;}
.nlistBox_1 ul a:hover {color:#FF9326;}
/*** END NEWS *****/

/****** About us List *******/
.listBox_abt {padding:12px; margin:0px; padding:0px 0px 0px 0px; border:none; vertical-align: top;}
.listBox_abt ul {margin:10px 0px 0px 0px; list-style:none; line-height:18px; text-align:left;}
.listBox_abt ul li {color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px; margin-top:1px; font-weight: normal;}

.listBox_abt ol {margin:10px 20px; /*list-style:decimal;*/ line-height:18px; text-align:left;}
.listBox_abt ol .list-item {padding:0px; margin-top:8px; font-weight: bold;}


.ExpColl {padding:10px 0px; background:#f5f5f5; border:1px solid #ddd;}
.ExpColl a {color:#333; text-decoration: none; cursor: pointer; font-weight: bold;}
.ExpColl a:hover {color:#6e6e6e;}

.regSteps ol {margin:10px 10px; /*list-style:decimal;*/ line-height:18px; text-align:left;}
.regSteps ol li {margin:4px 25px;}

/* for bangala content*/
.listBox_abt_bn {padding:12px; margin:0px; padding:0px 0px 0px 0px; border:none; vertical-align: top; font-family:'solaimanlipi'; font-size:15px;}
.listBox_abt_bn ul {margin:10px 0px 0px 0px; list-style:none; line-height:18px; text-align:left; font-family:'solaimanlipi'; font-size:15px;}
.listBox_abt_bn ul li {color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px; margin-top:1px; font-weight: normal; font-family:'solaimanlipi'; font-size:15px;}

.listBox_abt_bn ol {margin:10px 20px; /*list-style:decimal;*/ line-height:18px; text-align:left; font-family:'solaimanlipi'; font-size:15px;}
.listBox_abt_bn ol .list-item_bn {padding:0px; margin-top:8px; font-weight: bold; font-family:'solaimanlipi'; font-size:15px;}

.listBox_disclaimer_bn {padding:12px; margin:0px; padding:0px 12px 12px 12px; border:none; font-family:'solaimanlipi'; font-size:15px;}
.listBox_disclaimer_bn ul {margin:10px 0px 0px 0px; list-style:none; line-height:18px; text-align:justify; font-family:'solaimanlipi'; font-size:15px;}
.listBox_disclaimer_bn li {color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px; margin-top:8px; font-family:'solaimanlipi'; font-size:15px;}

.aboutUs_title_bn { height:28px; line-height:28px; padding-left:10px; margin:0px; font-size:13px; font-weight:bold; background:#E4FAD0; color:#333; font-family:'solaimanlipi'; font-size:15px;}





.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff !important ;
    font-size: 12px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #000;
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #000;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #000;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #000;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #000;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
      color: #3a5876;
      background: #000;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
      color: #e88845;
      background: #000;
}
.login_board{
    background-color: #FFEEAE;   
    border-bottom: 1px solid #ffc926;
}
.content-table-all{
    padding:0 20px;
}
.td-background{
    background-color: #DDD;
}
.newinputwidth{
    width: 95%;
    margin:5px !important; 
    box-sizing: border-box ;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     min-width: 150px;
}

.newTestFormWidth{
    box-sizing: border-box ;
}

.newTAwidth{
    margin: 3px;
    width: 95%; 
    height: 70px;
    box-sizing: border-box ;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
    min-width: 141px; 
}
#innerHover {
        position: absolute;
        top: 0/**distance from top of image */;
        right:0 /**distance from left of image */;
        width:350px; /**region width*/;
        height:120px; /**region height*/;
          
        
        
    }
    #popupdiv{
             
        
        padding:10px;
        background:#EFEFEF;
        border:2px solid #CCC;
        width:300px;
        height:auto;
        
    }
    #innerHover #popupdiv{
       display:none;
    }
    #innerHover:hover #popupdiv{
        display:block;
    }
