@import url(comman.css);
@import url(dhruv.css);
/*--------------------------------------------------------------------*/
.dashboard_div {/*margin:12px;*/ min-width:979px;}
.topHeader {padding-bottom:12px;}

.loginInfoBar {background-color: #f1f1f1; color:#333;}
.loginInfoBar a {color:#333;}
.loginInfoBar a:hover {text-decoration:underline;}

.pageHead_1 {background:url(../images/horDotLine_1.gif) left bottom repeat-x; padding-bottom: 10px; font-size:20px; font-weight:bold; color:#FF9326;}

.pageHead_Left {background:url(../images/horDotLine_1.gif) left bottom repeat-x; padding:10px 0px; font-size:16px; font-weight:bold; color:#DAA520;}
.mandatory{color:#FF0000;}
.floatLeft{float: left;}
.floatRight{float: right;}

/*
!--------Do not delete--------!

.formBg_1 {background:#f5f5f5; border:1px solid #eaeaea;}
.formBtn_1 {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block; height:20px;}
.formBtn_1 input {color:#FFF; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px;}
.formTxtBox_1 {color:#333; padding:2px; border:1px solid #abadb3;}
.formStyle_1 {color:#333;}
.formStyle_1 .ff {font-weight:bold;}
.formStyle_1 a {color:#FF9326; text-decoration:underline;}
.formStyle_1 a:hover {color:#333; text-decoration:none;}*/


.table-section-header_title {
	/*border-bottom:1px solid #ccc;
	background-color:#f1f1f1;
	height:25px;
	line-height:25px;
        */
	font-size:13px;
	font-weight:bold;
	margin-top:10px;
        margin-bottom:5px;
	
}

textarea
{
	resize:none;
}

/*----------------Phase one modification stylesheet-----------*/
.inner-tableHead_1{/*font-size:13px; font-weight:bold; color:#FF9326;*/background:#e4fad0; font-weight:bold; color:#333; padding:5px 5px; border:1px solid #FF9326; margin-bottom:3px;}
.width_textarea {width:100%; border-collapse:collapse;}
.viewHide {padding:7px 5px; background:#f5f5f5; border:1px solid #ddd;}
.viewHide a {color:#333; text-decoration: none; cursor: pointer; font-weight: bold;}
.viewHide a:hover {color:#6e6e6e;}

/*---------------------table stylesheet-----------------------*/
.inner-tableHead{ background:#d1f8ae; font-weight:bold; color:#333; padding:7px 10px; border:1px solid #FF9326; border-bottom:none; display:inline-block;}
.table-fileName{text-align:left!important;}
.table-description{text-align:left!important;}
.table-numbers{text-align:center!important;}
.table-units{text-align:center!important;}
.table-date{text-align:center!important;}
.table-actions{text-align:center!important;}
.dynamicFont{font-style:italic;}
/*.showHideImg-margin{margin-top:0px;}*/
.break-word {width: 200px;word-wrap: break-word;}
