@charset "utf-8";
/* CSS Document */

.no-margin{
	margin:0 !important;
}

/* TEXT ALIGNMENT - START */

.t-align-left{ text-align:left; }
.t-align-right{ text-align:right !important; }
.t-align-center{ text-align:center !important; }
.t-align-justify{ text-align:justify; }

/* TEXT ALIGNMENT - END */

/* CONTAINER ALIGNMENT - START */

.c-alignment-left{ float: left;}
.c-alignment-right{ float: right;}

/* CONTAINER ALIGNMENT - START */

/* TREEMENU CSS - START */

.treemenu-controler{
	border:1px solid #FF9326; 
	background-color:#FF9326;
	height:20px;
	padding:5px 7px 0 7px;
	text-align:left;
}
.treemenu-controler a{
	padding:0;
	margin:0;
	font-weight:bold;
	color:#333;
}

.treeview{ /*CSS for Simple Tree Menu*/
	margin: 0;
	padding: 0;
	list-style:none; 
	font-weight:bold; 
	border-bottom:1px solid #FF9326;
	background-color:#f0e68c;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
	margin:0;
	padding:0;
	list-style-type: none;
	border-top:1px solid #FF9326; 
	padding:1px;
	padding-left:22px;
	background: url(../images/left-slider/li.gif) no-repeat 9px 10px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
	background: url(../images/left-slider/plus.gif) no-repeat 5px 7px;
	cursor: hand !important;
	cursor: pointer !important;
}

.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
	display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
	cursor: default;
}

.treeview li img {vertical-align:middle; margin:0px 5px 0px 0px; float:left;}
.treeview li a { 
	display:block; 
	color:#333; 
	background:#f0e68c;
	padding:4px 6px;
	padding-left:10px;
}
.treeview li a:hover {color:#fff; background:#333;}
.treeview li a.selected {color:#fff; background:#333;}

/* TREEMENU CSS - END */


#action-tray{
	height:40px; 
	border-bottom:1px solid #CCCCCC;
}

#action-tray ul{
	clear:both;
	list-style:none;
}

#action-tray ul li{
	display:inline;	
}

#action-tray ul li a{ }


.action-button-add, 
.action-button-edit, 
.action-button-delete,
.action-button-view, 
.action-button-viewTender,
.action-button-configure,
.action-button-goback,
.action-button-download,
.action-button-notice,
.action-button-upload,
.action-button-anchor,
.action-button-select,
.action-button-savepdf,
.action-button-document,
.action-button-home
{
	padding:5px 7px 5px 27px;
	border-top:#e1e1e1 1px solid;
	border-left:#e1e1e1 1px solid;	
	border-right:#e1e1e1 1px solid;
	border-bottom:#e1e1e1 1px solid;	
	color: #333333 !important;
	font-weight:bold;
	font-size:12px;
	text-decoration:none !important;
	line-height:25px;
	cursor:pointer;
}


.action-button-add:hover, 
.action-button-edit:hover, 
.action-button-delete:hover,
.action-button-view:hover, 
.action-button-viewTender:hover,
.action-button-configure:hover,
.action-button-goback:hover,
.action-button-download:hover,
.action-button-notice:hover,
.action-button-upload:hover,
.action-button-anchor:hover,
.action-button-select:hover,
.action-button-savepdf:hover,
.action-button-document:hover,
.action-button-home
{
	border-top:#e1e1e1 1px solid;
	border-left:#e1e1e1 1px solid;	
	border-right:#a1a1a1 1px solid;
	border-bottom:#a1a1a1 1px solid;	
}

.action-button-add{
	background: #f1f1f1 url(../images/Dashboard/addIcn.png) no-repeat 5px 5px;
}
.action-button-edit{
	background: #f1f1f1 url(../images/Dashboard/createIcn.png) no-repeat 5px 5px;
}
.action-button-delete{
	background: #f1f1f1 url(../images/Dashboard/removeIcn.png) no-repeat 5px 5px;
}
.action-button-view{
	background: #f1f1f1 url(../images/Dashboard/Print.png) no-repeat 5px 5px;/*viewIcn.png chaned from viewIcn.png to Print.png*/
}
.action-button-viewTender{
	background: #f1f1f1 url(../images/Dashboard/viewIcn.png) no-repeat 5px 5px;/*viewIcn.png chaned from viewIcn.png to Print.png*/
}
.action-button-configure{
	background: #f1f1f1 url(../images/Dashboard/pickIcn.png) no-repeat 5px 5px;
}
.action-button-goback{
	background: #f1f1f1 url(../images/Dashboard/Back.png) no-repeat 5px 5px;
}
.action-button-download{
	background: #f1f1f1 url(../images/Dashboard/Download.png) no-repeat 5px 5px;
}
.action-button-notice{
	background: #f1f1f1 url(../images/Dashboard/About.png) no-repeat 5px 5px;
}
.action-button-upload{
	background: #f1f1f1 url(../images/Dashboard/Upload.png) no-repeat 5px 5px;
}

.action-button-anchor{
	background: #f1f1f1 url(../images/Dashboard/Anchor.png) no-repeat 5px 5px;
}

.action-button-select{
	background: #f1f1f1 url(../images/Dashboard/TreeViewIcn.png) no-repeat 5px 5px;
}

.action-button-savepdf{
	background: #f1f1f1 url(../images/Dashboard/PdfIcn.png) no-repeat 5px 5px;
}

.action-button-document{
	background: #f1f1f1 url(../images/Dashboard/NewDocument.png) no-repeat 5px 5px;
}

.action-button-home{
	background: #f1f1f1 url(../images/Dashboard/Home2.png) no-repeat 5px 5px; vertical-align: middle;
}