@import url(comman.css);
@import url(dhruv.css);
/*--------------------------------------------------------------------*/
.fixDiv {/*width:778px; margin:auto;margin:0px 12px;*/ min-width:979px;}
.beforeLoginDiv {/*width:778px; margin:auto;*/margin:0px 12px; min-width:979px;}
.timeCss {color:#333; font-weight:bold; padding:7px 0px;}

.topTitle {background:/*url(../images/btnBg_3.gif) left top repeat-x*/ #FF9326; color:#fff; font-size:15px; font-weight:bold; border:none; height:30px; line-height: 30px; text-align: center; margin-left: 17px; margin-right: 17px;}
.topTitle-Yellow {background:/*url(../images/btnBg_3.gif) left top repeat-x*/ #FF9326; color:#FFF; font-size:15px; font-weight:bold; border:none; height:30px; line-height: 30px; text-align: center; margin-left: 17px; margin-right: 17px;}
.topTitle-Grey {background:/*url(../images/btnBg_3.gif) left top repeat-x*/ #3c3c3c; color:#FFF; font-size:15px; font-weight:bold; border:none; height:30px; line-height: 30px; text-align: center; margin-left: 17px; margin-right: 17px;}
.topTitle-Black {background:/*url(../images/btnBg_3.gif) left top repeat-x*/ #000; color:#FFF; font-size:15px; font-weight:bold; border:none; height:30px; line-height: 30px; text-align: center; margin-left: 17px; margin-right: 17px;}
.topTitle-LightGreen {background:/*url(../images/btnBg_3.gif) left top repeat-x*/ #DEB887; color:#000; font-size:15px; font-weight:bold; border:none; height:30px; line-height: 30px; text-align: center; margin-left: 17px; margin-right: 17px;}

.headerCss {background:url(../images/horDotLine_1.gif) left bottom repeat-x; color:#333; font-weight:bold; height:25px; padding: 10px 12px 0px 12px;}
.headerCss a {color:#333;}
.headerCss a:hover {color:#FF9326;}
.lftNav {width:250px; padding-left: 5px; vertical-align: top;}
.lftNav_1 {width:250px; padding-left: 0px; vertical-align: top;}/*Changes to padding 15px */
.topLeftLink {width:253px;/* padding-left: 5px;*/}

.loginBox {border:1px solid #FFF; color:#333;}
.loginBoxHead {background:url(../images/horDotLine_1.gif) left bottom repeat-x; padding-bottom:12px; font-size:15px; font-weight:bold; color:#333;line-height:26px;}

.txtInput_1 {font-size:12px; color:#333; padding:2px; border:1px solid #abadb3;}
.btnInput_1 {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block;}
.btnInput_1 input {color:#FFF; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px; _padding:0px 4px;}
.btnContainer {width: 250px;height: 30px;}
.btnLeft {float: left;margin-left: 5px;}
.formBtn_disabled {background:url(../images/btnBg_disabled.gif) left top repeat-x #141414; border:1px solid #727272; display:inline-block; height:20px; float: left; margin-left: 5px;}
.formBtn_disabled input {color:#b2b2b2; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px; cursor:default;}
.bidFormBtn_1 {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block; height:20px; float: left; margin-left: 5px;}
.bidFormBtn_1 input {color:#FFF; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px;}

.anchorLink {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block; height:21px; line-height: 21px; color:#FFF; font-weight:bold; padding-left:6px; padding-right:6px; cursor: pointer;}

.btnNewReg {background:/*url(../images/btnBg_3.gif) left top repeat-x*/ #e57200; color:#FFF; font-size:15px; font-weight:bold; border:none; height:30px; width:220px;}
.btnForLearning {background:/*url(../images/btnBg_3.gif) left top repeat-x*/ #e57200; color:#FFF; font-size:15px; font-weight:bold; border:none; height:30px; width:220px;display: block;line-height: 30px;text-align: center;}
.linkBox_1 {border:1px solid #FF9326;}
.linkBox_1 ul {margin:0px 12px; list-style:none; color:#333;}
.linkBox_1 ul li {background:url(../images/horDotLine_1.gif) left top repeat-x; padding:10px 0px 10px 0px; font-weight: bold;}
.linkBox_1 ul li a {color:#333; padding-left:5px;}
/*.linkBox_1 ul li a {color:#333; background:url(../images/bul_1.gif) 0px 3px no-repeat; padding-left:15px;}*/
.linkBox_1 ul li a:hover {color:#FF9326;}
.linkBox_1 ul .bNone {background:none;}

.userManual {}
.userManual ul {margin:0px 12px; list-style:none; color:#333;}
.userManual ul li { padding:15px 0px 10px 0px; font-weight: bold;}
.userManual ul li a {color:#333; background:url(../images/bul_1.gif) 0px 3px no-repeat; padding-left:15px;}
.userManual ul li a:hover {color:#FF9326;}
.userManual ul .bNone {background:none;}

.contentArea_1 {padding-left:12px; padding-right: 12px; vertical-align: top; min-height: 425px;}
.contentArea_2 {padding-left:13px; padding-right: 17px; vertical-align: top;}
.pageHead_1 {background:url(../images/horDotLine_1.gif) left bottom repeat-x; padding-bottom: 10px; font-size:20px; font-weight:bold; color:#FF9326;}
.pageHead_1 .remarks {color:#ff0000;}
/*--------------------------------------------------------------------------*/
.txt_1 {color:#333; line-height:18px; text-align: justify;}
.txt_1 a {color:#333;}
.txt_1 a:hover {color:#FF9326;}
/*--------------------------------------------------------------------------*/
.footerCss {/*backgroun:url(../images/horDotLine_1.gif) left top repeat-x;*/border-top:0px solid #FF9326; color:#FF9326; padding-left:12px; padding-right: 12px; color:#FF9326; font-weight:bold; margin-top:25px; text-align:center;}
.footerCss a {color:#FF9326;}
.footerCss a:hover {color:#333;}
/*-----------------------------------Used before login---------------------------------------*/
.tabPanel_index {list-style:none; font-weight:bold; border-left:1px solid #FF9326; overflow:hidden; float:left;}
.tabPanel_index li {float:left; border:1px solid #FF9326; border-bottom:none; border-left:none;}
.tabPanel_index li a {display:inline-block; padding:6px 10px; font-size:12px; color:#333;}
.tabPanel_index li a:hover {color:#FFF; background:#FF9326;}
.tabPanel_index a.sMenu {color:#FFF; background:#FF9326; cursor:default;}

.tabPanel_1 {list-style:none; font-weight:bold; border-left:1px solid #FF9326; overflow:hidden; float:left;}
.tabPanel_1 li {float:left; border:1px solid #FF9326; border-bottom:none; border-left:none;/* height: 45px;*/}
.tabPanel_1 li a {display:inline-block; padding:8px 6px; font-size:13px; color:#333;/* height: 45px;*/}
.tabPanel_1 li a:hover {color:#FFF; background:#FF9326;/* height: 45px;*/}
.tabPanel_1 a.sMenu {color:#FFF; background:#FF9326; cursor:default;}
.tabPanelArea_1 {clear:left; /*background:url(../images/tabContentBoxBg_1.gif) left bottom repeat-x #FF9326;*/}
.tabPanelArea_top {clear:left; background:/*url(../images/tabContentBoxBg_1.gif) left bottom repeat-x*/ #ff9326;}
/*-----------------------------------Used after login---------------------------------------*/
.tabPanel_2 {list-style:none; font-weight:bold; border-left:1px solid #FF9326; overflow:hidden; float:left;}
.tabPanel_2 li {float:left; border:1px solid #FF9326; border-bottom:none; border-left:none;}
.tabPanel_2 li a {display:inline-block; padding:6px 10px; font-size:13px; color:#333;}
.tabPanel_2 li a:hover {color:#FFF; background:#FF9326;}
.tabPanel_2 a.sMenu {color:#FFF; background:#FF9326; cursor:default;}
.tabPanelArea_2 {clear:left;}
/*--------------------------------------------------------------------------*/


.txtSearchBoxtd{width: 165px;}
.cmbSearchTabtd{width: 240px;}
.btnKeywordtd{width: 100px;}
.txtSearchBox {font-size:12px; color:#333; padding:2px; width:322px; border:1px solid #333;}
/*border-right:none;*/
.btnSearch {background:url(../images/btnBg_1.gif) left top repeat-x #121212; border:1px solid #000; display:inline-block; vertical-align:middle; text-align: center;}
.btnSearch input {font-size:12px; color:#FFF; font-weight:bold; border:none; background:none; height:18px; text-align: center;}
.serchTxt {color:#fff;}
.serchTxt a {color:#000;}
.serchTxt a:hover {color:#333;}
.homeMenu a{font-weight: bold; color: #000; font-size: 10px}
/*--------------------------------------------------------------------------*/
.tableHead_1 {background:#F0E68C; font-size:14px; font-weight:bold; color:#333; padding:7px 10px; border:1px solid #FF9326;}
.tableHead_22 {background:#F0E68C; font-size:14px; font-weight:bold; color:#333; padding:1px 10px; border:1px solid #FF9326;}
.tableView_1 {color:#333;}
.tableView_1 .ff {font-weight:bold;text-align: right}
.tableView_1 a {color:#FF9326; text-decoration:underline;}
.tableView_1 a:hover {color:#333; text-decoration:none;}

/*------------------------------------Session Timed Out--------------------------------------*/


.infoBarBorder{border-left: 1px solid #FF9326; border-right: 1px solid #FF9326; border-bottom: 1px solid #FF9326; }

.sessionTimeOut {height:250px; border:1px solid #FF9326; padding:12px; margin-bottom:20px; margin-top:10px;}

.sessionTimeOut .reason {padding:0px 0px 0px 0px; margin:0px; font-size:13px; font-weight:bold; color:#333;}

.sessionTimeOut li {margin:5px 0px 0px 0px; list-style:none; line-height:18px;color:#333; background:url(../images/bul_3.gif) 0px 5px no-repeat; padding-left:12px;}

.sessionTimeOut a {color:#FF9326; text-decoration:underline;}

.sessionTimeOut a:hover {color:#333; text-decoration:none;}

 legend { padding: 0.2em 0.5em; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#C9440E; text-align:left; }

.instruction {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#C9440E; text-align:center;}

.instructionTable {  }

.instructionTable a {color:#FF9326; text-decoration:underline;}

.instructionTable a:hover {color:#333; text-decoration:none;}
.instructionTitle{color:#333; font-size:12px; font-weight:bold;}

/*-------------------------------------Session Timed Out-------------------------------------*/

/*------------------------------------Help start--------------------------------------*/
.helpTitle { height:23px; background:url(../images/Dashboard/helpIcon.png) left bottom no-repeat; background-position:0px 2px; padding:5px 0px 0px 32px; margin-top:10px;}

.helpURL {/*border:1px solid #ddd;*/ text-align:left; padding:5px 5px 5px 0px; font-size:15px;}
.helpURL a {color:#FF9326; text-decoration:underline;}
.helpURL a:hover {color:#333; text-decoration:none;}

.helpQuestion {font-size:13px; font-weight:bold;}
.helpSteps {color:#FF9326; font-weight:bold;}

.helpList,
.helpListExpand
{padding:12px; margin:0px; padding:0px 12px 12px 12px; border:none;}

.BulletNone ul li
{margin:0px; padding:0px; border:none; background-image:none;}

.helpList ul,
.helpListExpand ul
 {margin:5px 0px 0px 0px; list-style:none; line-height:18px;}

.helpList ul li {color:#333; background:url(../images/BulletPlus.gif) 0px 6px no-repeat; padding-left:12px;}

.helpListExpand ul li {color:#333; background:url(../images/BulletMinus.gif) 0px 6px no-repeat; padding-left:12px;}

/*------------------------------------Help end--------------------------------------*/
/*******About us Stylesheet*********/
.atxt_1 {color:#333; line-height:18px; text-align: justify;}
.atxt_1 a {color:#FF9326; font-weight: bold; text-decoration:none;}
.atxt_1 a:hover {color:#333; text-decoration:none;}
.atxt_1 a:visited {color:#FF9326;}
/*******END About us***********/
.a:visited {color:#FF9326;}

/*--------------------Prev Next stylesheet--------------------*/
.prevNext-container{width:225px; text-align: right;font-size: 9pt;}

/*--------------------Read More stylesheet--------------------*/
.ReadMore {color:#333; line-height:18px; text-align: right;}
.ReadMore a {color:#FF9326; font-weight: bold; text-decoration:underline;}
.ReadMore a:hover {color:#333; text-decoration:none;}

.newNavbar td{
    width:14.3%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
   line-height: 30px;
   white-space: nowrap;
   
}
.newNavbar td a{
   color: #000;
   display: block;
   height: 30px;
   -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  
       
}
.newNavbar td a:hover{
   color:#FFF;
   
   background-color: #3c3c3c;   
     
}

.newNavbar td:nth-child(even) {
  background-color: #ffc926;
}
#language-placeholder-content{
    padding-right: 35px;
    padding-top: 20px;
}
#language-placeholder{
    text-align: right;   
    width:100%;
    margin-top: -20px;
}
.leftnavbarContainer{
    background-color: #dddddd;
    padding: 5px;
}
.contentArea-Blogin{
    padding-top: 20px;
}
table.submenu
{
    border-collapse: collapse;
    font-size:100%;
    position:absolute;
    visibility:hidden;
    background-color: #ff9326;
    width: 190px;
}
table.submenu td
{
   border-bottom: 1px solid #ffc926;
    
}



/*--------------------Table Bg stylesheet--------------------*/
.bgColor-Green{background-color: #F0E68C;}
.bgColor-white{background-color: #fff;}
/*--------------------Content stylesheet--------------------*/
.atxt_2 {color:#333; line-height:18px; text-align: left;}
.atxt_2 a {color:#333; font-weight: bold; text-decoration:none;}
.atxt_2 a:hover {color:#FF9326; text-decoration:none;}
/*.atxt_2 a:visited {color:#333;}*/

/*--------------------FAQ stylesheet--------------------*/
.faqContent {color:#333; font-weight: bold;}
.faqContent td{padding-bottom: 5px; }
.faqContent td a {color:#333; text-decoration: none;}
.faqContent td a:hover {color:#FF9326; text-decoration: none;}

/*--------------------Email stylesheet--------------------*/
.email-TopPart { background-color: #f5f5f5; padding-right: 5px; line-height: 25px; /* text-align: right; font-weight: bold; font-size: 11px; line-height: 25px; border-left: 1px solid #e6e5e5; border-right: 1px solid #e6e5e5; border-bottom: 1px solid #e6e5e5;*/}
.email-LeftPart { background-color: #f5f5f5; padding-left: 5px; line-height: 25px;/* text-align: right; font-weight: bold; font-size: 11px; line-height: 25px; border-left: 1px solid #e6e5e5; border-right: 1px solid #e6e5e5; border-bottom: 1px solid #e6e5e5;*/}
.email-RightPart { background-color: #f5f5f5; padding-right: 5px; line-height: 25px;/* text-align: right; font-weight: bold; font-size: 11px; line-height: 25px; border-left: 1px solid #e6e5e5; border-right: 1px solid #e6e5e5; border-bottom: 1px solid #e6e5e5;*/}
.PaddLeft {padding-left: 5px; line-height: 20px;/* text-align: right; font-weight: bold; font-size: 11px; line-height: 25px; border-left: 1px solid #e6e5e5; border-right: 1px solid #e6e5e5; border-bottom: 1px solid #e6e5e5;*/}
.email-Subject {padding-left: 5px; line-height: 25px; text-align: left; font-weight: bold; font-size: 14px; color: #151515;/* border-left: 1px solid #e6e5e5; border-right: 1px solid #e6e5e5; border-bottom: 1px solid #e6e5e5;*/}

/* bangla content */
.atxt_1_bn {color:#333; line-height:18px; text-align: justify; font-family:'solaimanlipi'; font-size:15px;}
.atxt_1_bn a {color:#FF9326; text-decoration:none; font-family:'solaimanlipi'; font-size:15px;}
.atxt_1_bn a:hover {color:#333; text-decoration:none; font-family:'solaimanlipi'; font-size:15px;}
.atxt_1_bn a:visited {color:#FF9326; font-family:'solaimanlipi'; font-size:15px;}

.faqContent_bn {color:#333; font-weight: bold; font-family:'solaimanlipi'; font-size:15px;}
.faqContent_bn td{padding-bottom: 5px; font-family:'solaimanlipi'; font-size:15px; }
.faqContent_bn td a {color:#333; text-decoration: none; font-family:'solaimanlipi'; font-size:15px;}
.faqContent_bn td a:hover {color:#FF9326; text-decoration: none; font-family:'solaimanlipi'; font-size:15px;}

.btnNewReg_bn {background:url(../images/btnBg_3.gif) left top repeat-x #FF9326; color:#FFF; font-size:15px; font-weight:bold; border:none; height:30px; width:220px; font-family:'solaimanlipi';}

.btnInput_1_bn {background:url(../images/btnBg_2.gif) left top repeat-x #141414; border:1px solid #000; display:inline-block; font-family:'solaimanlipi';}
.btnInput_1_bn input {color:#FFF; font-weight:bold; border:none; background:none; height:20px; padding:0px 8px; _padding:0px 4px; font-family:'solaimanlipi';}

.btnSearch_bn {background:url(../images/btnBg_1.gif) left top repeat-x #121212; border:1px solid #000; display:inline-block; vertical-align:middle; font-family:'solaimanlipi'; text-align:center;}
.btnSearch_bn input {font-size:14px; color:#FFF; font-weight:bold; border:none; background:none; height:18px; font-family:'solaimanlipi'; text-align:center;}

.pageHead_1_bn {background:url(../images/horDotLine_1.gif) left bottom repeat-x; padding-bottom: 10px; font-size:15px; font-weight:bold; color:#FF9326; font-family:'solaimanlipi';}
.pageHead_1_bn .remarks {color:#ff0000; font-family:'solaimanlipi';}

/* For eLearning.jsp*/
.eLearnBox>div {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
    border-radius: 10px;   
    width: 12em;
    border: 1px solid #FF9326;
    padding: 5px;
    box-sizing: border-box;
}

.eLearnBox>div>h2 {
    font-size: 1.5em;
    letter-spacing: .05em;
    margin-top: 1em;
}
.eLearnBox {
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.eLearnBox>div {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    -webkit-align-items: center;
}
.eLearnBox>div {
    margin: 0 1em;
}
.eLearnBox img {
        width:24px;
	height:24px;
}
.eLearnBox a:link, .eLearnBox a:visited {  
    color: #222;
    padding-top:5px;	
    font-size:11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.eLearnBox a:hover, a:active {
    color: #FF9326;
}
