@charset "utf-8";
/* CSS Document */

.treemenu-controler{
	border:1px solid #FF9326; 
	background-color:#e4fad0;
	height:20px;
	padding:5px 7px 0 7px;
	text-align:left;
}
.treemenu-controler a{
	padding:0;
	margin:0;
	font-weight:bold;
	color:#333;
}

.treeview{ /*CSS for Simple Tree Menu*/
	margin: 0;
	padding: 0;
	list-style:none; 
	font-weight:bold; 
	border-bottom:1px solid #FF9326;
	background-color:#e4fad0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
	margin:0;
	padding:0;
	list-style-type: none;
	border-top:1px solid #FF9326; 
	padding:1px;
	padding-left:22px;
	background: url(../images/left-slider/li.gif) no-repeat 9px 10px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
	background: url(../images/left-slider/plus.gif) no-repeat 5px 7px;
	cursor: hand !important;
	cursor: pointer !important;
}

.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
	display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
	cursor: default;
}

.treeview li img {vertical-align:middle; margin:0px 5px 0px 0px; float:left;}
.treeview li a { 
	display:block; 
	color:#333; 
	background:#e4fad0; 
	padding:4px 6px;
	padding-left:10px;
}
.treeview li a:hover {color:#fff; background:#333;}
