.dash_menu_1 {background:url(../images/Dashboard/1/menuBg_1.gif) left top repeat-x; height:35px;}
.dash_menu_1 ul {list-style:none; font-size:13px; font-weight:bold; color:#333;}
.dash_menu_1 ul li {padding:4px 4px 3px 3px; margin:0px; float:left; display:inline-block; background:url(../images/Dashboard/1/menuSep_1.gif) right top no-repeat;}
.dash_menu_1 ul li img {vertical-align:middle; margin-left: 5px; margin-right: 5px; margin-top: 0px; margin-bottom: 0px; float:left;}
.dash_menu_1 ul li a {color:#333; float:left; padding:5px 5px 4px 5px;}
.dash_menu_1 ul li a:hover {background:url(../images/Dashboard/1/menuHoverBg_1.gif) left top repeat-x #000; color:#FFF;}
.dash_menu_1 .mSel a {background:url(../images/Dashboard/1/menuHoverBg_1.gif) left top repeat-x #000; color:#FFF; float:left;}




.topMenu_1 {background:/*url(../images/Dashboard/1/menuBg_1.gif) left top repeat-x*/#ff9326;}
.topMenu_1 ul {list-style-type:none; overflow: hidden; width:100%; color:#333; font-weight:bold;}
.topMenu_1 li {margin:0px; float:left; display:inline-block; min-width: 90px; /*background:url(../images/Dashboard/1/menuSep_1.gif) right top no-repeat;*/}
.topMenu_1 li img {vertical-align:middle; margin-left: 4px; margin-right: 4px; margin-top: 0px; margin-bottom: 0px; float:left;}
.topMenu_1 li:nth-child(even){
    background-color: #ffc926;
}
.topMenu_1 li a {color:#333; padding:9px 14px 9px 14px;display:block;text-align:center; font-size: 12px;/*5px;*/}
.topMenu_1 li a:hover{background-color: #000; color:#FFF;}
.topMenu_1 a.selected {background:url(../images/Dashboard/1/menuHoverBg_1.gif) left top repeat-x #000; color:#FFF;}
.topMenu_1 a.selectedPage {background:url(../images/Dashboard/1/menuHoverBg_1.gif) left top repeat-x #000; color:#FFF;}

.ddsubmenustyle, .ddsubmenustyle ul {position:absolute; left:0; top:0; list-style-type:none; background:#FFF; border:1px solid #000; border-bottom-width:0; visibility:hidden; z-index:100;}
.ddsubmenustyle li a{display:block; width:160px; color:black; background-color:#ff9326; text-decoration:none; padding:4px 5px; border-bottom: 1px solid #ffc926;}
* html .ddsubmenustyle li{display:inline-block; width:170px;}
.ddsubmenustyle li a:hover{background-color:#000; color:#FFF;}
/* ######### Neutral CSS  ######### */
.downarrowpointer{padding-left:4px; border:0; display:none;}
.rightarrowpointer{position:absolute; padding-top: 3px; left:100px; border:0;}
.ddiframeshim{position: absolute; z-index:500; background: transparent; border-width:0; width: 0; height: 0; display:block;}







/*.footerCss {border-top:5px solid #FF9326; color:#FF9326; padding-left:12px; padding-right: 12px; margin-top:25px;}
.footerCss td {padding:0px; vertical-align:top;}p
.footerCss .msg {font-size:11px; padding-top:3px; color:#999999;}
.footerCss a {color:#FF9326;}
.footerCss a:hover {color:#333;}*/

.footerCss {border-top:0px solid #FF9326; color:#FF9326; padding-left:12px; padding-right: 12px; margin-top:25px;}
.footerCss td {padding:0px; vertical-align:top;}
.footerCss .msg {font-size:11px; padding-top:3px; color:#999999;}
.footerCss a {color:#FF9326;}
.footerCss a:hover {color:#333;}

table.tableList_1 {color:#333; border-collapse:collapse;}
table.tableList_1 th {border:1px solid #FF9326; border-bottom:2px solid #FF9326; text-align:center; vertical-align: middle; padding:5px; background:#F0E68C;}
table.tableList_1 thead tr .header {background-image: url(../images/Dashboard/bg.gif);background-repeat: no-repeat;background-position: center right;cursor: pointer;}
table.tableList_1 thead tr .headerSortUp {background-image: url(../images/Dashboard/asc.gif);}
table.tableList_1 thead tr .headerSortDown {background-image: url(../images/Dashboard/desc.gif);}
table.tableList_1 td {border:1px solid #FF9326; text-align: left; vertical-align: top; padding:5px;max-width: 580px;}
table.tableList_1 td a {color:#FF9326; text-decoration:underline;}
table.tableList_1 td a:hover {color:#333; text-decoration:none;}

table.tableList_2 {color:#333; border-collapse:collapse;}
table.tableList_2 th {border:1px solid #FF9326; border-bottom:2px solid #FF9326; text-align:center; vertical-align: middle; padding:5px; background:#F0E68C;}
table.tableList_2 thead tr .header {background-image: url(../images/Dashboard/bg.gif);background-repeat: no-repeat;background-position: center right;cursor: pointer;}
table.tableList_2 thead tr .headerSortUp {background-image: url(../images/Dashboard/asc.gif);}
table.tableList_2 thead tr .headerSortDown {background-image: url(../images/Dashboard/desc.gif);}
table.tableList_2 td {border:1px solid #FF9326; text-align: left; vertical-align: top; padding:0px;}
table.tableList_2 td a {color:#FF9326; text-decoration:underline;}
table.tableList_2 td a:hover {color:#333; text-decoration:none;}

table.tableList_3 {color:#333; border-collapse:collapse;}
table.tableList_3 th {border:1px solid #FF9326; border-bottom:2px solid #FF9326; text-align:center; vertical-align: middle; padding:5px; background:#F0E68C;}
table.tableList_3 thead tr .header {background-image: url(../images/Dashboard/bg.gif);background-repeat: no-repeat;background-position: center right;cursor: pointer;}
table.tableList_3 thead tr .headerSortUp {background-image: url(../images/Dashboard/asc.gif);}
table.tableList_3 thead tr .headerSortDown {background-image: url(../images/Dashboard/desc.gif);}
table.tableList_3 td {border:1px solid #FF9326; text-align: left; vertical-align: middle; padding:5px;}
table.tableList_3 td a {color:#FF9326; text-decoration:underline;}
table.tableList_3 td a:hover {color:#333; text-decoration:none;}

table.tableList_k {color:#333; border-collapse:collapse;}
table.tableList_k th {border:1px solid #FF9326; border-bottom:2px solid #FF9326; text-align:left; vertical-align: middle; padding:3px; background:#F0E68C;}
table.tableList_k td {border:1px solid #FF9326; text-align: left; vertical-align: top; padding:5px;}
table.tableList_k td a {color:#FF9326; text-decoration:underline;}
table.tableList_k th a {color:#FF9326; text-decoration:underline;}
table.tableList_k td a:hover {color:#333; text-decoration:none;}

.overFlowContainer {width: 100%; display: block; padding-bottom: 10px;}

.pagging_1 {color:#333; font-weight:bold; border-left:#FF9326 1px solid; border-right:#FF9326 1px solid; border-bottom:#FF9326 1px solid; background-color: #F0E68C;}
.pagging_1 td {padding:10px 5px 10px 5px; vertical-align: middle;}
.pagging_1 ul {list-style:none; color:#333333; float:right;}
.pagging_1 ul li {display:inline; padding-left:10px;}
.pagging_1 ul li a {color: #333;/*#FF9326;*/}
.pagging_1 ul li a:hover {text-decoration:underline;}

.lftNav {width:250px; padding-left: 5px; vertical-align: top; /*border-right:1px solid #FF9326;*/}
.lftNav_1 {width:250px; padding-left: 0px; vertical-align: top;}/*Changes to padding 15px */

.BorderRight {border-right:1px solid #FF9326;}
.TreeViewBorder {border-left: 1px solid #FF9326; border-right: 1px solid #FF9326; border-bottom: 1px solid #FF9326;}

.contentArea {padding-left:15px; padding-right: 12px; vertical-align: top; min-height: 425px;}
.contentArea-Blogin {padding-left:15px; padding-right: 17px; vertical-align: top; min-height: 425px;}

.lftLinkBtn_1 {list-style:none; font-weight:bold; border-bottom:1px solid #FF9326;}
.lftLinkBtn_1 li {border-left:1px solid #FF9326; border-top:1px solid #FF9326; padding:1px;}
.lftLinkBtn_1 li img {vertical-align:middle; margin-left: 5px; margin-right: 5px; margin-top: 0px; margin-bottom: 0px; float:left;}
.lftLinkBtn_1 li a {display:block; color:#333; background:#F0E68C; padding:4px 6px;}
.lftLinkBtn_1 li a:hover {color:#fff; background:#333;}

.sublinks_1 {border:1px solid #FF9326; border-right:0px;}
.sublinks_1 ul {list-style:none; color:#333;}
.sublinks_1 ul li {/*background:url(../images/horDotLine_1.gif) left top repeat-x;*/ padding:6px 0px 6px 0px; position:relative;}
.sublinks_1 ul li a {color:#333; background:url(../images/bul_1.gif) 10px 3px no-repeat; padding-left:25px;}
.sublinks_1 ul li a:hover {color:#FF9326;}
.sublinks_1 ul .mSel {background:url(../images/selSubLinkBul_1.gif) 230px center no-repeat #333; color:#FFF; display:block; font-weight:bold; padding:5px 10px; margin:1px;}
.sublinks_1 ul .lIcn {position:absolute; right:8px; top:6px; cursor:pointer;}
.sublinks_1 ul .bNone {background:none;}

.tabPanel_1 {list-style:none; font-weight:bold; border-left:1px solid #FF9326; overflow:hidden; float:left;}
.tabPanel_1 li {float:left; border:1px solid #FF9326; border-bottom:none; border-left:none;}
.tabPanel_1 li a {display:inline-block; padding:6px 8px; font-size:13px; color:#333;}
.tabPanel_1 li a:hover {color:#FFF; background:#FF9326;}
.tabPanel_1 a.sMenu {color:#FFF; background:#FF9326; cursor:default;}
.tabPanel_1 li.sMenu {color:#FFF; background:#FF9326; cursor:default;}
.tabPanelArea_1 {padding:12px; clear:both; _display:inline-block; border:1px solid #FF9326;}

.tableHead_1 {background:#F0E68C; font-weight:bold; color:#333; padding:5px 10px; border:1px solid #FF9326;}
.tableView_1 {color:#333;}
.tableView_1 .ff {font-weight:bold;}
.tableView_1 a {color:#FF9326; text-decoration:underline;}
.tableView_1 a:hover {text-decoration:none;}

.bigTxt_1 {color:#FF9326; font-size:22px;}
.bigTxt_1 a {color:#FF9326;}
.bigTxt_1 a:hover {color:#333;}

.ReadMore {color:#333; line-height:18px; text-align: right;}
.ReadMore a {color:#FF9326; font-weight: bold; text-decoration:underline;}
.ReadMore a:hover {color:#333; text-decoration:none;}

/* for bangala content*/

table.tableList_1_bn {color:#333; border-collapse:collapse; font-family:'solaimanlipi'; font-size:15px;}
table.tableList_1_bn th {border:1px solid #FF9326; border-bottom:2px solid #FF9326; text-align:center; vertical-align: middle; padding:5px; background:#e4fad0; font-family:'solaimanlipi'; font-size:15px;}
table.tableList_1_bn td {border:1px solid #FF9326; text-align: left; vertical-align: top; padding:5px; font-family:'solaimanlipi'; font-size:15px;}
table.tableList_1_bn td a {color:#FF9326; text-decoration:underline; font-family:'solaimanlipi'; font-size:15px;}
table.tableList_1_bn td a:hover {color:#333; text-decoration:none; font-family:'solaimanlipi'; font-size:15px;}


.ReadMore_bn {color:#333; line-height:18px; text-align: right; font-family:'solaimanlipi'; font-size:15px;}
.ReadMore_bn a {color:#FF9326; font-weight: bold; text-decoration:underline; font-family:'solaimanlipi'; font-size:15px;}
.ReadMore_bn a:hover {color:#333; text-decoration:none; font-family:'solaimanlipi'; font-size:15px;}

/* repeat Order */
.button_padding{padding:5px;}
.w_textbox{width: 98%;}

/* For read more*/
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

