.boxes {
  display: inline-block;
  margin-top: 20px;
}
.leftBox {
  float: left;
  width: 100%;
  padding: 0px 0px 20px 0px;
}
.rightBox {
  float: right;
  width: 700px;
}
.TreeViewBorder {
border-left: 1px solid #7DAE56; 
border-right: 1px solid #7DAE56; 
border-bottom: 1px solid #7DAE56;
}
#back{
margin:0 auto;
}